extends base
append base_help
	:markdown
		# RTP project rendering options:
			- src = path to notebook (!{query.src})
			- project = project project (!{query.name})
			- cols = dataset columns "key.type.label, ..." (!{query.cols})
			- client = client viewing this notebook (!{client})

		[sample](/run.help?src=/nets.run&project=gtdcsv)  
		[example](/nets.run?project=gtdcsv)

append base_body
	- project = query.name || name
	- title = `${project} Research Technology Plan`
	- folder = `/shares/${project}`

	h1= title
	img(src="#{folder}/logo.jpg")
	iframe(src='/barplot.view',width=600,height=200)

	:markdown
		This is a RTP doc

	each i in [1,2,3]
		:markdown
			# [Section #{i}](/faqs.view)  
		iframe(src="/faqs.html?Num:=Seq&Question:=Q&Answer:=A&Seq=#{i}",width=1200,height=200,style="border:none")
